$background: #303030;
$light_grey: #424242;
$grey: #707070;
$blue: #30A7FF;
$white: #ffffff;
$dark: #4B5861;
$orange: #FAA73A;
$bold-green: #148041;
$light-green: #4C785E;
$hover-green: #A1FFC8;
$red: #ea2525;
